.container {
   background: linear-gradient(to top right, #f4f1de, #ff6b6b);
   height: 100%;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
